body {  
    margin: 0;
    padding: 0;
    width: 100VW;
}

.dados{
    padding: 20px;
    border-radius: 30px;
    border-style:outset;
    border-radius: 30px;
    height: 300px;
    width: 400px;
    border-color: black;
    position: absolute;
    margin-left: 450px;
    background-color: darkgoldenrod;
    top: 200px;
    font-size: 20px;

}
input{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    margin-bottom: auto;
    vertical-align:top;
    font-size: 20px;
}
    body{
        background-image: url(girassol5.jpg);
        height: 800px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
.menu{
   
        height: 60px;
        position: fixed;
        top : 0;
        width: 100%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;

    }
    header{
        background-color: darkgoldenrod;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100vw;  
    }
    a{
        text-decoration: none;
        color:black
    }
   
    li{
        height: 30px;
        
    }
    ul
    {
        text-decoration: none;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin-top: 0%;
        line-height: 50px;
    }
