.imagem{
    display:none;
    width: 900px;
    border-radius: 50px;
    margin-left: 225px;
    margin-top: 90px;
    
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(white, #79d1ff,white);


    

}
